
html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
}
.section-1{
    height:500px;
}
.parent{
    float:left;
    height:100%;
    width:55%;
}
.aniket{
    float:right;
    height: 100%;
    width: 75%;
}

.aniket1{
    float:right;
    height: 100%;
    width: 45%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-top: 50px;
    height:100px;
}
.nav-btns{
    width:60%;
    display: flex;
    justify-content: center;
}
.login{
    border:0;
    background-color: white;
    padding:10px 30px;
    color:black;
    font-weight: bold;
    font-size: 18px;
}
.signup{
    background-color: black;
    color: white;
    border:none;
    font-weight: bold;
    font-size: 18px;
    padding:10px 40px;
}
.head{
    color:black;
    margin-top:45px;
    margin-bottom:0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}
.sub-head{
    color:black;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bolder;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.search-box{
    width: 70%;
    height:60px;
    border:1px solid #ccc;
    overflow: hidden;
}
.search-btn{
    width: 20%;
    border:none;
    background-color: #FC9109;
    color:white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}
.search-input{
    height:60px;
    width:70%;
    border:none;
    padding-left: 20px;
    outline:none;
    font-size: 18px;
    color:black;
    font-weight: bold;
}

.locate-me:hover{
    background-color: #f1f1f1;
    cursor: pointer;
} 
.city{
    padding-right:20px;
    color:black;
    font-size: 18px;
    font-weight: bold;
}

#section-2{
    width:100%;
    height:400px;
    background-color:black;
}
.head-2{
    color:white;
    font-size: 28px;
    font-weight: bold;
}
.sub-head-2{
    color:white;
    margin:0px 40px;
    text-align: center;
}
#section-3{
    height:600px;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding:20px;
} 